{% extends 'core/base.html' %}

{% block title %}Search for {{query}}{% endblock title %}

{% block content %}
    <div class="hero is-info">
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title">Search Results</h1>
                <p class="subtitle">Results for "{{query}}"</p>
            </div>
        </div>
    </div>

    <div class="container mt-6">
        <div class="columns is-multiline mb-6">
            {% for product in products %}
                {% include 'product/parts/list_item.html' %}
            {% endfor %}
        </div>
    </div>
{% endblock content %}